/* ------------basic------------------------------- */

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;

}

html {
    font-size: 62.5%;
}

p,
l,
a{
    font-size: 1.8rem;
    letter-spacing: 0.1rem;
    font-weight: 400;
    color: var(--para-color);

}

a{
    text-decoration: none;
}
li {
    list-style: none;
}

/* --------------them----------- */

:root{
    --main-color: #0062ff;
    --supporting-color: #ebf3fe;
    --font-color: #424242;
    --bg-color: #ffffff;
    --heading-color: #000a19;
    --para-color: #504e4d;
    --h-color: #0a043c;
    --white-color: #ffffff;
    --test: #070101;
    --btn-hover-bg-color: #003b99;
    --vtb-box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

/* --------------layout start----------- */

.container {
    max-width: 142rem;
    margin: 0 auto;
    padding: 9.6rem 2.6rem;
}

.grid{
    display: grid;
}
.grid-two--cols{
    grid-template-columns: repeat(2, 1fr);
}

/* --------------layout end----------- */

/* --------module--/reuseable start------------------- */

.btn{
    padding: 1.2rem 3rem;
    display: inline-block;
    background-color: var(--main-color);
    color: var(--white-color);
    border-radius: 0.6rem;
}


/* --------module--/reuseable end------------------- */

/* -------------------states start---------------------------------- */
.btn:hover{
    background-color: var(--btn-hover-bg-color);
    cursor: pointer;
    box-shadow: var(--vtb-box-shadow);
}



/* -------------------states off---------------------------------- */



/* ------------------------naver csss satart---------------------- */

.seciton_navbar {
    width: 100%;
    -webkit-box-shadow: 8px 8px 24px -24px rgba(66, 68, 90, 1);
    -moz-box-shadow: 8px 8px 24px -24px rgba(66, 68, 90, 1);
    box-shadow: 8px 8px 24px -24px rgba(66, 68, 90, 1);

}

.seciton_navbar .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.8rem 0;
}

.seciton_navbar .navber ul{
    display: flex;
    gap: 3rem;
    font-size: 1.8rem;
    
    
    & li a{
        color: var(--heading-color);
        font-weight: 500;
        font-size: 1.6rem;
        text-transform: uppercase;
        display: inline-block;
        position: relative;


        &::after{
            content: "";
            position: absolute;
            width: 0%;
            border-bottom: 0.2rem solid var(--main-color);
            bottom: -0.3rem;
            left: 0;
            transition: all 0.3s linear;
            
        
            
    
        }
    }
    & li a:hover::after{
        width: 100%;

    }

   
}

/* ------------------------naver csss end---------------------- */



/* ------------------------hero section csss start---------------------------- */

main{
    background: radial-gradient(circle, #d6daff, #eff9ff);
    position: relative;
    width: 100%;
    min-height: calc(100vh - 110px);

}
.section-hero .grid{
    align-items: center;
    gap: 6rem;

    &  .hero-suheading{
        font-size: 2rem;
        color: var(--main-color);
        font-weight: 700;
        letter-spacing: 0.2rem;
    }

    & .hero-heading{
        font-size: 6rem;
        font-weight: 700;
        color: var(--btn-hover-bg-color);
        line-height: 7.5rem;
        /* text-transform: uppercase; */
    }
    & .hero-pera{
        margin: 2rem 0 4.3rem 0;

    }

}


.section-hero--image img{
    width: 100%;
    height: auto;
}








/* ---------------hero_section Shape design css----------------------------- */
.custom-shape-divider-bottom-1718120968 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1718120968 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 150px;
}

.custom-shape-divider-bottom-1718120968 .shape-fill {
    fill: #FFFFFF;
}

/* ------------------------hero section csss end---------------------------- */